{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}
<h2>CRM Database</h2>
<table class="table table-light table-striped table-hover my-5">
    <caption>List of records</caption>
    <thead class="table-light">
        <tr scope="row">
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Province</th>
            <th scope="col">Postal Code</th>
        </tr>
    </thead>
    <tbody>

{% if records %}
    {% for record in records %}
            <tr scope="row">
                <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                <td>{{ record.first_name }}</td>
                <td>{{ record.last_name }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address }}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.province }}</td>
                <td>{{ record.postal_code }}</td>
            </tr>
    {% endfor %}
{% endif %}
    </tbody>
</table>
{% else %}
    <div class="col-md-6 offset-md-3 my-5">
        <section>
            <h2>Login</h2>
            <form method="POST" action="{% url 'home' %}" class="my-5">
            {% csrf_token %}
                  <div class="mb-3">
                    <label for="inputUsername" class="form-label" hidden>Username</label>
                    <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" required>
                  </div>
                  <div class="mb-3">
                    <label for="inputPassword" class="form-label" hidden>Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
                  </div>
                  <button type="submit" class="btn btn-primary my-4">Login</button>
            </form>
            <div><a href="{% url 'login_fr' %}">Login with Facial Recognition</a></div>
        </section>
    </div>
{% endif %}

{% endblock %}